* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
.div {
  display: flex;
  background-color: #efefef;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  flex-direction: column;
  width: 100vw;
  height: 103vh;
  P {
    color: #000000;
    font-size: 80px;
    padding: 5px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 700;
    transition-duration: 0.5s;
  }
  input {
    text-transform: lowercase;
  }
  .error {
    display: none;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0px;
  background-color: #001d3c;
  box-shadow: 26px 20px 4px -8px #544d2dd1;
  width: 40vw;
  height: fit-content;
  div {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    label {
      color: #ffffff;
    }
  }
}
.nav {
  background-color: #0e131a;
  border-bottom: 1px black solid;
  position: fixed;
  width: 100vw;
  display: flex;
  height: fit-content;
  .buttom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: #6363636b;
    .link {
      text-decoration: none;
      padding: 3px 0px;
      margin: 5px 0px;
      color: #efefef;
    }
  }
}

.nav .buttom .link:hover {
  background-color: #fefbd8;
  border-radius: 6px;
  color: #36486b;
}
.top {
  width: 100vw;
  display: flex;
  height: fit-content;
  justify-content: space-around;
  align-items: center;
  .Shoes {
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .middel {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }
  .right {
    padding: 7px 4px 0px 0px;
  }
  div .link {
    text-decoration: none;
    color: #ffffff;
    padding: 3px;
  }
  div span {
    cursor: pointer;
    font-size: larger;
    transition: 0.1s;
    padding: 3px;
    overflow: hidden;
    transition-timing-function: ease-in;
  }
  div .red {
    background-color: red !important;
  }
}
.nav div span:hover {
  background-color: #fefbd8;
  border-radius: 6px;
  color: #36486b;
}
.nav div .x:hover {
  background-color: #fefbd8;
  border-radius: 6px;
  color: #36486b;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: right;
  background-color: #36486b;
  height: 100vh;
  flex-wrap: nowrap;
  .animation {
    animation-name: animation;
    animation-iteration-count: 1;
    animation-duration: 0.8s;
  }
  .show {
    width: 90%;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    height: 80%;
    overflow: hidden;
    box-shadow: 0px 0px 21px 2px black;
    transition-duration: 0.9s;
    .leftSide {
    .name{
        display: flex;
        gap: 5px;
        p{
            background-color: #001d3c;
            color: white;
            padding: 4px;
        }
    }
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 10px;
      width: 50%;
      gap: 20px;
    }
    .img {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: auto;
      flex-wrap: wrap;
      img {
        width: 50%;
        height: 40%;
      }
    }
    span {
      color: black;
      display: flex;
      flex-direction: column;
    }
  }
  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    height: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 4%;
    button {
      width: fit-content;
    }
  }
  .name {
    font-size: 40px;
    font-family: fantasy;
  }
  .link {
    width: 30%;
  }
}
@keyframes animation {
  0% {
    margin-left: 1000px;
    opacity: 0.5;
  }
  100% {
    margin-left: 0px;
    opacity: 1;
  }
}
.productsMain {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.phone,
.wireless {
  display: flex;
  height: fit-content;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  width: 80%;
  border-radius: 20px;
  box-shadow: 0px 0px 30px -4px black;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h3 {
    overflow: hidden;
  }
  img {
    width: 20vw;
    padding: 10px;
  }
}
.progress {
  position: fixed;
  border-radius: 0px 0px 0px 0px !important;
  margin-top: 5%;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15% 10%;
  .product {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    margin: 5px;
    justify-content: center;
    padding: 10px 30px;
    align-items: center;
    flex-grow: 1;
    box-shadow: 0px 0px 9px 1px #000000;
    img {
      width: 100px;
    }
    span svg {
      color: rgb(255, 174, 0);
    }
    button {
      width: 70%;
      border: none;
      margin: 10px 0px;
      border: 1px rgb(50, 50, 255) solid;
    }
  }
  .alert {
    width: fit-content;
    position: fixed;
    top: 82%;
    left: 38%;
    background-color: #0e131a;
    color: #fefbd8;
    border: none;
    padding: 10px;
  }
}

.about {
  background-color: #484f4f;
  display: flex;
  padding: 20px;
  justify-content: space-around;
  color: #ffffff;
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    div {
      display: flex;
    }
    span {
      overflow: hidden;
    }
  }
  .follow {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      display: flex;
      gap: 8px;
      padding: 8px;
    }
    p {
      font-size: larger;
      font-weight: 800;
      text-transform: capitalize;
    }
    img {
      width: 40px;
      cursor: pointer;
      padding: 10px;
      border-radius: 100%;
      background-color: #ffffff;
    }
  }
}
.content {
  display: flex;
  width: 100%;
  gap: 15px;
  flex-wrap: wrap;
}
.buy {
  width: 100%;
  display: flex;
  height: fit-content;
  align-items: start;
  justify-content: center;
  padding: 13% 5%;
  gap: 10px;
  .total{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      background-color: white;
      width: 30%;
      padding-bottom: 5px;
      box-shadow: 0px 0px 9px 1px #000000;
      .total{
        background-color: rgb(0, 115, 0);
        width: 100%;
        border-radius: 0px;
        padding: 5px;
       text-align: center;
       box-shadow: none;
       color: white;
      } 
      p {
          color: rgb(0, 0, 0);
          font-weight: 500;
          border-radius: 10px; 
          padding: 5px;
        }
        #button {
            width: 40%;
        }
    }
  .product {
    flex-grow: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 9px 1px #000000;
    display: flex;
    flex-direction: column;
    span svg {
      color: rgb(255, 165, 0);
    }
    img {
      width: 100px;
    }
  }

  .center {
    border-radius: 20px;
    box-shadow: 0px 0px 9px 1px #000000;
    color: black;
    background-color: #ffffff;
    position: fixed;
    padding: 10px 5px;
    display: flex;

    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    height: fit-content;
    P {
      overflow: hidden;
      font-size: medium;
      margin: 5px;
    }
    .money {
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        height: 80%;
      }
    }
    span {
      width: 100%;
      overflow: hidden;
      text-align: left;
    }
  }
  .display {
    display: none;
  }
}
.n {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .right {
    margin: 0px 5%;
    width: 60%;
    height: 35vh;
    box-shadow: 0px 0px 13px 0px black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    flex-direction: column;
    button {
      width: fit-content;
    }
  }
  .r {
    display: flex;
    align-items: center;
    margin: 3px;
    gap: 10px;
    button {
      border: none;
      padding: 3px;
      border-radius: 4px;
      background-color: initial;
    }
    h7 {
      font-size: larger;
    }
  }
}
.n .r button:hover {
  background-color: orange;
}
/*
@media (max-width: 600px) {
 .home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../public/bg1.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    .left{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding-left: 4%;
        button{
            width: fit-content;
        }
        .link{
            width: 30%;
        }
        span{
            font-size: 100%;
        }
        .name{
            font-size:170%;
            font-family: fantasy;
        }
    }
    
}
}
@media (max-width: 300px) {
 .home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../public/bg1.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    .left{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding-left: 4%;
        button{
            width: fit-content;
        }
        .link{
            width: 40%;
        }
        span{
            font-size:90%;
        }
        .name{
            font-size:130%;
            font-family: fantasy;
        }
    }

}
}
@media (max-width: 580px) {

.position{
    width: fit-content !important;
}
.n{
display: flex;
align-items: center;
justify-content: center;
width: 100vw;
height: 100vh;

.right{
    margin: 0px 5%;
    width: 90%;
    height: 35vh;
    box-shadow:0px 0px 13px 0px black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    flex-direction: column;
    button{
        width: fit-content;
        
    }
}}
.r{
    display: flex;
    align-items: center;
    margin: 3px;
    gap: 10px;
    button{
        border: none;
        padding: 3px;
        border-radius:4px;
        background-color: initial;
    }
    h7{
        font-size: larger;
        
    }
    
}

.buy{
width: 100vw;
position:  absolute;
    display: flex;
    flex-direction: column;
    padding:20% 5% ;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 20px;
   #button{
    width: 40%;
   }
    .product{
        width: 70%;
        box-shadow: 0px 0px 19px 3px blue;
        display: flex;
        border-radius: 10px;
        align-items: center;
        justify-content: space-around;
        padding: 5px 0px;

    }
    .center{
    width: 100vw;
    height: 100%;
    position: absolute;
    }
    .badge{
    border-radius: 20px;
    box-shadow: 0px 0px 19px 3px blue;
    color: black;
    background-color:#ffffff;
    position: fixed;
    padding: 10px 5px;
    margin-left: -40PX;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    height:fit-content;
    P{
        overflow: hidden;
        font-size: larger;
        
    }
    .money{
        display: flex;
        flex-direction: column;
       gap: 10px;
       input{
       height: 80%;
       }
    }
    span{
        width: 100%;
        overflow: hidden;
        text-align: left;
    }
}
.display{
    display: none;
}
}
.div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    input{
        text-transform: lowercase;}
    .error{
        display: none;
    }
}
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 4%;
    padding-top: 20px;
    gap: 10px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0px 0px 18px 1px black;
    width: 90vw;
    height: fit-content;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    div{
        display: flex;
        width: 30%;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
    }
}
    .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15% 0px;
    .product{     
        display: flex;
        flex-direction: column;
        width:40%;
        margin: 20px;
        justify-content: center;
        padding: 10px 30px;
        gap: 10px;
        align-items: center;
        img{
            width: 120px;

        }
        button{
            width: 70%;
            border: none;
            border: 1px rgb(50, 50, 255) solid;
        }
        border-radius: 20px;
        box-shadow: 0px 0px 19px 3px blue;
    }
}

@media (max-width: 410px) {
.div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    input{
        text-transform: lowercase;}
    .error{
        display: none;
    }
}
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 4%;
    padding-top: 20px;
    gap: 10px;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0px 0px 18px 1px black;
    width: 90vw;
    height: fit-content;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    div{
        display: flex;
        width: 30%;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
    }
}
    .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15% 0px;
    .product{     
        display: flex;
        flex-direction: column;
        width:80%;
        margin: 20px auto;
        justify-content: center;
        padding: 10px 30px;
        gap: 10px;
        align-items: center;
        img{
            width: 120px;

        }
        button{
            width: 70%;
            border: none;
            border: 1px rgb(50, 50, 255) solid;
        }
        border-radius: 20px;
        box-shadow: 0px 0px 19px 3px blue;
    }
}
.buy{
width: 100vw;
position:  absolute;
    display: flex;
    flex-direction: column;
    padding:20% 5% ;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 20px;
   #button{
    width: 40%;
   }
    .product{
        width: 70%;
        box-shadow: 0px 0px 19px 3px blue;
        display: flex;
        border-radius: 10px;
        align-items: center;
        justify-content: space-around;
        padding: 5px 0px;

    }
    .center{
    width: 100vw;
    height: 100%;
    position: absolute;
    }
    .badge{
    border-radius: 20px;
    box-shadow: 0px 0px 19px 3px blue;
    color: black;
    background-color:#ffffff;
    position: fixed;
    padding: 10px 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-left: -50PX;
    width: 60%;
    align-items: center;
    justify-content: center;
    height:fit-content;
    P{
        overflow: hidden;
        font-size: larger;
        
    }
    .money{
        display: flex;
        flex-direction: column;
       gap: 10px;
       input{
       height: 80%;
       }
    }
    span{
        width: 100%;
        overflow: hidden;
        text-align: left;
    }
}
.display{
    display: none;
}
}
*/
